{% extends 'faculty/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="m-5">


<!-- User joined school, can award points -->
<!-- Award points bar -->
{% if user.school %}
<h4>Welcome, {{ user.username }}!</h4>
<h5>Your school is {{ user.school }}.</h5>
</div>


{% if user.school.is_activated %}
<h5 class="mt-5 ms-5">Your faculties:</h5>
<div class="mainthing bg-light p-5 border border-3">
<div class="container">
    <div class="">
    <div class="container text-center">
    <div class="row">
    <div class="col-4 text-center">
  <div class="nav flex-column nav-pills me-5" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    {% for item in faculty_list %}
        {% if forloop.first %}
        <button class="nav-link active" id="v-pills-{{ item.slug }}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{ item.slug }}" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">{{ item.name }}</button>
        {% else %}
        <button class="nav-link" id="v-pills-{{ item.slug }}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{ item.slug }}" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">{{ item.name }}</button>
      {% endif %}
    {% endfor %}
        </div>
     </div>

    <div class="col-8">
  <div class="tab-content ps-5 pe-5 mt-3" id="v-pills-tabContent">
    {% for item in faculty_list %}
      {% if forloop.first %}
    <div class="tab-pane fade show active" id="v-pills-{{ item.slug }}" role="tabpanel" aria-labelledby="v-pills-{{ item.slug }}-tab"><p>{{ item.name }} currently has <b>{{ item.points }}</b> points.</p>

     <form method='post'>
         {% csrf_token %}
    <input class="form-control form-control-lg" type="number" placeholder="" aria-label=".form-control-lg example" name="{{ item.slug }}">
    <button type="submit" name="award" class="btn btn-primary mt-3 pe-5 ps-5">Award</button>
    <button type="submit" name="deduct" class="btn btn-danger mt-3 pe-5 ps-5">Deduct</button>
    </form>

    </div>
       {% else %}
      <div class="tab-pane fade" id="v-pills-{{ item.slug }}" role="tabpanel" aria-labelledby="v-pills-{{ item.slug }}-tab"><p>{{ item.name }} currently has <b>{{ item.points }}</b> points.</p>

      <form method='post'>
         {% csrf_token %}
    <input class="form-control form-control-lg" type="number" placeholder="" aria-label=".form-control-lg example" name="{{ item.slug }}">
    <button type="submit" name="award" class="btn btn-primary mt-3 pe-5 ps-5">Award</button>
    <button type="submit" name="deduct" class="btn btn-danger mt-3 pe-5 ps-5">Deduct</button>
    </form>

      </div>
  {% endif %}
      {% endfor %}
      </div>
        </div>
  </div>
</div>

 <!-- Add faculties -->
 {% else %}

  <div class="m-5"><h6>Just one more step left. Add faculties/houses to activate your school profile.</h6>
      <button type="button" class="btn btn-primary btn-lg mt-3" onclick="location.href='{% url 'faculties_configure' %}'">Add some faculties</button>
  </div>

{% endif %}

 <!-- User has no school, needs to join/create school -->
    {% else %}
<h5>Currently you don't belong to any school.</h5>

    <div class="row mt-5 g-4 ">
  <div class="col-md-6 col-sm-12 g-4 text-center">
    <a class="no-decor" href="{% url 'create_school' %}"><div class="card w-75 m-auto border border-3">
      <div class="card-body">
        <h5 class="card-title">Create new school</h5>
        <p class="card-text">Create a new school profile that others would be able to join.</p>
      </div>
    </div></a>
  </div>
  <div class="col-md-6 col-sm-12 g-4 text-center">
    <a class="no-decor" href="{% url 'join_school' %}"><div class="card w-75 m-auto border border-3">
      <div class="card-body">
        <h5 class="card-title">Join school</h5>
        <p class="card-text">Find and join the already existing school profile.</p>
      </div>
    </div></a>
  </div>
</div>


{% endif %}
    </div>
</div>
</div>


<!-- recent actions -->
{% if user.school %}
<h5 class="mt-5 ms-5">Recent actions:</h5>
<div class="container bg-light p-5 border border-3">
    {% if action_list %}
    {% for action in action_list %}
    <p><b>{{ action.timestamp }}:</b> {{ action }} </p>
    {% endfor %}
    {% else %}
    <p>No actions...</p>
    {% endif %}
</div>

<!-- current winner -->
<h5 class="mt-5 ms-5">Current winner:</h5>
<div class="container bg-light p-5 text-center border border-3">
{% if user.school.is_activated%}
    {% if winning_house and winning_house|length == 1 %}
    <h3>{{ winning_house.0.name }}</h3>
    <p>with {{ winning_house.0.points }} points</p>
    <p>Good job, {{ winning_house.0.name }}, keep it up!</p>
    {% elif winning_house and winning_house|length > 1 %}
    <h5>No leader right now...</h5>
    <p>{% for house in winning_house %}
        {% if not forloop.last %}
    {{ house.name }},
        {% else %}
    {{ house.name }}
    {% endif %}
        {% endfor %} are the main contenders.</p>
    {% endif %}
{% else %}
    <p>The competition is about to start...</p>
{% endif %}
</div>

<!-- School graph -->


<h5 class="mt-5 ms-5">Graph:</h5>
<div class="container bg-light p-5 mb-5 text-center border border-3">
    {% if house_scores %}
    <canvas id="myChart" style="width:100%;max-width:800px"></canvas>
    {% else %}
    <p>Nothing to show yet...</p>
    {% endif %}
</div>


{% block scripts %}
<script>

var xValues = {{ house_names|safe }};
var yValues = {{ house_scores|safe }};
var barColors = "blue";

new Chart("myChart", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "FACULTY COMPETITION"
    }
  }
});
</script>

{% endblock scripts %}

{% endif %}

{% endblock %}