{% extends 'faculty/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="mt-5 ms-3">
<h4>Welcome, {{ user.username }}!</h4>
<h5 class="mt-3"> Ready to rock?</h5>
</div>
<div class="mainthing mt-3 bg-light p-5">
<div class="container">

<!-- User joined school, can award points -->
{% if user.school %}
<h5>Your school is {{ user.school }}.</h5>

{% if user.school.is_activated %}
    <div class="mt-5">
        <h5>Your faculties:</h5>
        <div class="d-flex align-items-start mt-5">
  <div class="nav flex-column nav-pills me-5" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    {% for item in faculty_list %}
        {% if forloop.first %}
        <button class="nav-link active" id="v-pills-{{ item.slug }}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{ item.slug }}" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">{{ item.name }}</button>
        {% else %}
        <button class="nav-link" id="v-pills-{{ item.slug }}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{ item.slug }}" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">{{ item.name }}</button>
      {% endif %}
    {% endfor %}
        </div>
  <div class="tab-content" id="v-pills-tabContent">
    {% for item in faculty_list %}
      {% if forloop.first %}
    <div class="tab-pane fade show active" id="v-pills-{{ item.slug }}" role="tabpanel" aria-labelledby="v-pills-{{ item.slug }}-tab"><p>{{ item.name }} currently has {{ item.points }} points.</p>

     <form method='post'>
         {% csrf_token %}
    <input class="form-control form-control-lg" type="number" placeholder="" aria-label=".form-control-lg example" name="{{ item.slug }}">
    <button type="submit" name="award" class="btn btn-primary mt-3">Award</button>
    <button type="submit" name="deduct" class="btn btn-danger mt-3">Deduct</button>
    </form>

    </div>
       {% else %}
      <div class="tab-pane fade" id="v-pills-{{ item.slug }}" role="tabpanel" aria-labelledby="v-pills-{{ item.slug }}-tab"><p>{{ item.name }} currently has {{ item.points }} points.</p>

      <form method='post'>
         {% csrf_token %}
    <input class="form-control form-control-lg" type="number" placeholder="" aria-label=".form-control-lg example" name="{{ item.slug }}">
    <button type="submit" name="award" class="btn btn-primary mt-3">Award</button>
    <button type="submit" name="deduct" class="btn btn-danger mt-3">Deduct</button>
    </form>

      </div>
  {% endif %}
      {% endfor %}
  </div>
</div>

 <!-- Add faculties -->
 {% else %}

  <div class="mt-3"><h6>Just a few more steps to start giving em points. Add faculties/houses - this will automatically activate school profile.</h6>
      <button type="button" class="btn btn-primary btn-lg mt-3" onclick="location.href='{% url 'faculties_configure' %}'">Add some faculties.</button>
  </div>

{% endif %}

 <!-- User has no school, needs to join/create school -->
    {% else %}
<h5>Currently you don't belong to any school.</h5>

    <div class="row mt-3 g-4 ">
  <div class="col-md-6 col-sm-12 g-4 text-center">
    <a class="no-decor" href="{% url 'create_school' %}"><div class="card w-75 m-auto">
      <div class="card-body">
        <h5 class="card-title">Create new school</h5>
        <p class="card-text">Create a new school profile that others would be able to join.</p>
      </div>
    </div></a>
  </div>
  <div class="col-md-6 col-sm-12 g-4 text-center">
    <a class="no-decor" href="{% url 'join_school' %}"><div class="card w-75 m-auto">
      <div class="card-body">
        <h5 class="card-title">Join school</h5>
        <p class="card-text">Find and join the already existing school profile.</p>
      </div>
    </div></a>
  </div>
</div>


{% endif %}
    </div>
</div>
</div>

{% if user.school %}
<h5 class="mt-5">Recent actions:</h5>
<div class="container bg-light p-5">
    {% if action_list %}
    {% for action in action_list %}
    <p><b>{{ action.timestamp }}:</b> {{ action }} </p>
    {% endfor %}
    {% else %}
    <p>No actions...</p>
    {% endif %}
</div>
{% endif %}

{% endblock %}