{% extends 'faculty/profile_base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{{ block.super }}
      <section class="col p-5 ms-3 bg-light" style="height: 100%;">
      <h5> {{ title }} </h5>
            <div class="container mt-5">

<!-- profile main -->
      <form method="post">
      {% csrf_token %}

      <div>{{ form.non_field_errors }}</div>
    {% for part in form %}
    <div class="row mb-3">
    <label for="{{ part.id_for_label }}" class="col-sm-2 col-form-label"> {{ part.label }}: </label>
        <div class="col-sm-10">
        {{ part }}
        </div>
    </div>
    <div>{{ part.errors }}</div>
    {% endfor %}
    <button type="submit" class="btn btn-primary pe-5 ps-5 mt-3">Save</button>


      </form>


</div>
</section>
</div>
</div>
{% endblock content %}