{% extends 'faculty/profile_base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{{ block.super }}
          <section class="col p-5 ms-3 bg-light border border-3" style="height: 100%;">
      <h5> {{ title }} </h5>
            <div class="container mt-5">

        <!-- profile main -->
        {% if not user_action_list %}
              <p>No actions so far...</p>
        {% else %}
        {% for action in page_obj %}
        <p><b>{{ action.timestamp }}:</b> {{ action.my_profile_action }}</p>
        {% endfor %}
        {% endif %}
        </div>

        <!-- Pagination starts here!
          -->
        {% if page_obj.has_other_pages %}
        <nav aria-label="page navigation" class="mt-5">
        <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lt</a>
        </li>
        {% endif %}

        {% for page in page_obj.paginator.page_range %}
        {% if page_obj.number == page %}
        <li class="page-item">
            <a class="page-link" style="color:black; text-decoration: none;">{{ page }}</a>
        </li>
        {% elif page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
        <li class="page-num">
            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">&gt</a>
        </li>
        {% endif %}
        </ul>
        </nav>
        {% endif %}



</section>
</div>
</div>
{% endblock content %}