{% extends 'faculty/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container w-50 mt-5">
<form method="post">
  <!-- Email input -->
    {% csrf_token %}
    <div>{{ form.non_field_errors }}</div>
    {% for part in form %}
    <p>{{ part }} </p>
    <div>{{ part.errors }}</div>
    {% endfor %}
  <div class="text-center">
  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mt-3 ps-5 pe-5">Register</button>
  </div>
</form>
</div>


{% endblock %}